/*-----------------color palet---------*/

/* 
light to dark.
Pale Aqua - #BFDBF7
Dark Sky Blue - #81C3D7
Steel Blue - #3A7CA5
B'Dazzled Blue - #2F6690
Japanese Indigo - #16425B  
*/

/*-------------main targes------------*/
body{
  background-color: #BFDBF7;
}
/* .container{
  width: 80%;
  margin-right: auto;
  margin-left: auto; 
} */
.form-group{
  margin-bottom:2rem;
}
.reset-page{
  margin: 15px;
}
.space{
  margin-bottom: 10px;
}
.flexy{
  display: flex;
  justify-content: space-between;
}
.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
}
/*-----------nav bar------------------*/
.nav-bar{
    background-color: #2F6690;
    height: 50px;
    justify-content: center;
    display: flex;
    font-size: 24px;
}
.active{
    background-color:#BFDBF7;
}
.nav-bar a{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: black;
}
/*--------------berger-------------*/
.atom {
    position: relative;
    top: 15px;
    width: 30px;
    height: 30px;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    cursor: pointer;
    background: transparent;
    border: 0px;
}
.burger {
    height: 0px;
    border: 1.5px solid #fff;
    width: 22px;
    display: block;
    position: absolute;
    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    background:#fff;
}  
.atom:focus {
  transition-delay: 100ms;
  transform: scale(1.1);
}
.atom:focus .burger:nth-child(3):before {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #F26451;
}
.atom:focus .burger {
  border: 2px solid #fff;
  height: 9px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  animation: atom 300ms linear 1;
  width: 25px;
  top: 0px;
  background:transparent;
}
.burger:nth-child(1) {
  top: 0px;
}
.burger:nth-child(2) {
  top: 8px;
} 
.burger:nth-child(3) {
  top: 16px;
}
.burger:nth-child(3):before {
  opacity: 0;
  animation: ball 1.5s linear infinite;
  content: '';
  border: 2px solid #fff;
  display: block;
  position: relative;
  top: 0.25px;
}
.atom:focus .burger:nth-child(1) {
  transform: rotate(-33deg);
}
.atom:focus .burger:nth-child(2) {
  transform: rotate(90deg);
}
.atom:focus .burger:nth-child(3) {
  transform: rotate(33deg);
}
.atom:focus .burger:nth-child(3):before {
  opacity: 1;
  transition: opacity 600ms cubic-bezier(.61, .01, .42, 1);
}
@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0%;
    top: 60%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}

/*-------------side-bar--------------*/
/* The sidebar menu */
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  right: 0;
  background-color: #3A7CA5; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #16425B ;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}
/*----------------cards--------------*/
.card {
  max-width: 300px ;
  margin-bottom: 3rem;
  height: 800px;
}
.card ~ .card{
  margin-left:10px;
}
#results{
  display: flex;
  flex-direction: row;
}
.img-section{
  height: 380px;
}
.btn-card{
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.card-img-top{
  height: 380px;
  object-fit: cover;
}
.card-text{
margin-bottom: 40px;
}

/*-----------regester-page----------*/


/*--------------login-page----------*/


/*-----------user-page--------------*/

.anime,
.manga{
  width: 3rem;
  height: 3rem;
  background-color: #81C3D7;
  position: absolute;
  right: 0;
  bottom: 0;
}

.anime:hover{
  cursor: pointer;
}

.fa-star{
  padding-left: 20%;
  padding-top: 20%;
}

.active_star{
  color:gold;
}
.disactive_star{
  color: black;
}

/*------------contact-us-page-------*/
form[action="contact-form.php"] td input,
#details{
  width: 50vw;
}
#details{
  max-height: 20rem;
}
.contact-btn{
  width: 5rem;
  height: 3rem;
  background-color: #16425B;
  color: white;
}
.contact-btn:hover{
  color:#3A7CA5;
}

/*----------------footer------------*/
footer{
    background-color: #3A7CA5;
    height: 50px;
}